button {
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.sidediv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fitem {
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  height: 20rem;
  border: 2px solid black;
  border-radius: 10px;
}
.center {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  list-style-position: inside;
  align-self: center;
}
.border {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 10px;
  width: 70rem;
  font-family: Arial, Helvetica, sans-serif;
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'home gallery services order';
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
textarea {
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
.home {
  grid-area: home;
}
.gallery {
  grid-area: gallery;
}
.services {
  grid-area: services;
}
.order {
  grid-area: order;
}
a {
  text-decoration: none;
}
