.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "home gallery services order";
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}
.home {
  grid-area: home;
}
.gallery {
  grid-area: gallery;
}
.services {
  grid-area: services;
}
.order {
  grid-area: order;
}
.logo_ {
  /* border: 2px solid black;*/
  text-align: center;
}
.info {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.why {
  text-align: center;
  font-size: 50px;
}
