.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "home gallery services order";
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
button {
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(189, 189, 189);
}
.home {
  grid-area: home;
}
.gallery {
  grid-area: gallery;
}
.services {
  grid-area: services;
}
.order {
  grid-area: order;
}
a {
  text-decoration: none;
}

.border {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 22rem);
  grid-template-areas:
    "_blue bread stick bike fly"
    "boot chair computer hammer drill"
    "skate skate_2 door chair_2 light"
    "bench toilet fan doll toilet_2"
    "wheels wheels wheels wheels wheels"
    "wheels wheels wheels wheels wheels";
}
div {
  color: black;
  font-size: 20px;

  border-radius: 20px;
}
div[class="border"] div {
  border: 5px solid rgb(0, 0, 0);
  color: black;
  font-size: 20px;
  margin: 2rem;
  border-radius: 10px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
._blue {
  grid-area: _blue;
}
.bread {
  grid-area: bread;
}
.stick {
  grid-area: stick;
}
.bike {
  grid-area: bike;
}
.fly {
  grid-area: fly;
}
.work {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.boot {
  grid-area: boot;
}
.chair {
  grid-area: chair;
}
.computer {
  grid-area: computer;
}
.hammer {
  grid-area: hammer;
}
.drill {
  grid-area: drill;
}
.stake {
  grid-area: skate;
}
.stake_2 {
  grid-area: skate_2;
}
.door {
  grid-area: door;
}
.chair_2 {
  grid-area: chair_2;
}
.light {
  grid-area: light;
}
.bench {
  grid-area: bench;
}
.toilet {
  grid-area: toilet;
}
.fan {
  grid-area: fan;
}
.doll {
  grid-area: doll;
}
.toilet_2 {
  grid-area: toilet_2;
}
.wheels {
  grid-area: wheels;
}
.footer {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 400px) {
  .border {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 7rem) 11rem;
    grid-template-areas:
      "_blue bread stick bike fly"
      "boot chair computer hammer drill"
      "skate skate_2 door chair_2 light"
      "bench toilet fan doll toilet_2"
      "wheels wheels wheels wheels wheels"
      "wheels wheels wheels wheels wheels";
  }
  div[class="border"] div {
    margin: 5px;
  }
}
