.center {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(189, 189, 189);
}
.border {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 10px;
  width: 50rem;
  font-family: Arial, Helvetica, sans-serif;
}
.bigdiv {
  margin-top: 5rem;
}
.nav {
  display: grid;
  position: fixed;
  top: 0.5rem;
  width: 97.3%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'home gallery services order';
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
}
.home {
  grid-area: home;
}
.gallery {
  grid-area: gallery;
}
.services {
  grid-area: services;
}
.order {
  grid-area: order;
}
a {
  text-decoration: none;
}
.footer {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
